<body>
  <nav>
    <span>
      <select id="voittotapa" onchange="ottelu.vaihdaVoittoTapa(this.value)">
        <option value="3" selected>3 sets (best of five)</option>
        <option value="2">2 sets (best of three)</option>
        <option value="1">1 set</option>
      </select>
    </span>
    
    <span
      ><select id="tiebreak" onchange="ottelu.vaihdaTieBreak(this.value)">
        <option value="jokaisessa">Every set</option>
        <option value="eiviimeisessa">Not in the last set</option>
        <option value="ei">Not in use</option>
      </select></span
    >
    <span
      ><button class="submit" id="nollaaja" onclick="javascript:nollaa();">
        Reset
      </button></span
    >
  </nav>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <table class="tennis">
          <mat-card-subtitle>
            <td class="vuoro" id="vasen1"><span class="tyhja"></span></td>
            <td class="vuoro" id="oikea1"><span class="pallo"></span></td
          ></mat-card-subtitle>
          <mat-card-title>              <input
            class="pelaaja"
            type="text"
            value="Player1"
            maxlength="18"
            onfocus="javascript:valitsekaikki(this);"
          /></mat-card-title>
          <mat-card-content>
            <br>
            <td class="score" id="score1">0</td>
            <br>
            <td class="erat" id="erat1">0</td>
            <td class="era1" id="era11">0</td>
            <td class="era2" id="era12"></td>
            <td class="era3" id="era13"></td>
            <td class="era4" id="era14"></td>
            <td class="era5" id="era15"></td>
  
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <td class="buttons" id="buttons1">
              
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle id="reduce1" onclick="lisaa(1,2,0)"
                  >&nbsp;-&nbsp;</mat-button-toggle
                >
                <mat-button-toggle id="lisaa1" onclick="lisaa(1,2,1)"
                  >&nbsp;+&nbsp;</mat-button-toggle
                >
              </mat-button-toggle-group>
            </td>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </table> </mat-card
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <table class="tennis">
        <mat-card-subtitle>
          <td class="vuoro" id="vasen2"><span class="tyhja"></span></td>
          <td class="vuoro" id="oikea2"><span class="tyhja"></span></td>
        </mat-card-subtitle>
        <mat-card-title>              <input
          class="pelaaja"
          type="text"
          value="Player2"
          maxlength="18"
          onfocus="javascript:valitsekaikki(this);"
        /></mat-card-title>
        <mat-card-content>
          <br>
          <td class="score" id="score2">0</td>
          <br>
          <td class="erat" id="erat2">0</td>
          <td class="era1" id="era21">0</td>
          <td class="era2" id="era22"></td>
          <td class="era3" id="era23"></td>
          <td class="era4" id="era24"></td>
          <td class="era5" id="era25"></td>
          
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <td class="buttons" id="buttons2">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle id="reduce2" onclick="lisaa(2,1,0)"
                >&nbsp;-&nbsp;</mat-button-toggle
              >
              <mat-button-toggle id="lisaa1" onclick="lisaa(2,1,1)"
                >&nbsp;+&nbsp;</mat-button-toggle
              >
            </mat-button-toggle-group>
          </td>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer> 
      </table>
        </mat-card
    ></mat-grid-tile>
  </mat-grid-list>
</body>
